extends layout

block scripts
    script(type='text/javascript', src='./javascripts/dashboard.js')

block content
    nav.navbar.navbar-inverse.navbar-fixed-top#custom-navBar
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/') Booksterdam
            #navbar.navbar-collapse.collapse
                include miniDash
                ul.nav.navbar-nav
                        li.active
                            a(href="#") Profile
                                span.sr-only (current)
                        li(data-id="orders")
                            a(href="#") Orders
                        li(data-id="postings")
                            a(href="#") My postings
                        li(data-id='addItem')
                            a(href="#") List a Book

    .container
        .page-header
            div
                h2 Your Dashboard      
        
        // Starts the main content of the page
        // It holds the first and the client column of the page
        .contents#custom-itemGrid
            #clientInfo.col-md-3.col-sm-12.custom-dash-block
                h3 Hi #{customerInfo.firstName}!
                img(src="https://stephanieschiraldi.files.wordpress.com/2013/02/chelsee-2.jpg", width = 230, height=250)
                // Put all of the user info from the database here
                p Booksterdam ID:#{' '}
                    span #{sessionInfo.refID}
                p Street:#{' '}
                    span #{customerInfo.street}
                p City:#{' '}
                    span #{customerInfo.city}
                p State:#{' '}
                    span #{customerInfo.stateName} 
                p Zip:#{' '}
                    span #{customerInfo.zipCode}
                p Phone:#{' '}
                    span #{customerInfo.phone}
                p Email:#{' '}
                    span #{customerInfo.email}

            // It holds the rest of the width putting all of the clients requests
            #generatedClientRequest.col-md-9.col-sm-12.custom-dash-block
                #orders.jumbotron
                    h2 Your orders, your highess!
                    p This is where we show people's orders and stuffs                

                #postings.jumbotron
                    h4 Please refresh the page to see your latest additions!
                    include dash-postings

                #addItem
                    h5#alertbox
                    include postingForm
                    //.input-group
                        input.form-control(type='text',placeholder="Search", aria-describedby='basic-addon2')
                        span.input-group-btn
                            button.btn.btn-default#searchButton search
    
        // Displaying customers Listing
        //.section#custom-customers
            include users
        
        // Website Footer
        footer.navbar.navbar-fixed-bottom
            p.pull-right
                a(href='http://www.viveckh.com') Developed by Viveckh
            p
                | © 2016 Booksterdam, Inc. · 
                a(href='#') Privacy 
                | · 
                a(href='#') Terms
// Latest compiled and minified JavaScript
script(src='/bootstrap-3.3.7-dist/js/bootstrap.min.js')

// IE10 viewport hack for Surface/desktop Windows 8 bug
script(src='/javascripts/ie10-viewport-bug-workaround.js')

