extends layout

block content
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='#') Booksterdam
            #navbar.navbar-collapse.collapse
                form.navbar-form.navbar-right
                    .form-group
                        input.form-control(type='text', placeholder='Email')
                    .form-group
                        input.form-control(type='password', placeholder='Password')
                    button.btn.btn-success(type='submit') Sign in
        // /.navbar-collapse



    .container
        .page-header
            h1 Seems like we have a visitor, FINALLY!
            p.lead We're currently under construction, just like Trump's Executive Board.

        h3 Ramapo College
        p Whaaazzzaap RoadRunner? See if we've got a book for you lurking around the arch.
        
        - var count = 0;
        each item in items
            // If it is the first element in the row, then create a new row
            - if (count == 0) {
                //.row  //Temporarily commented because in tablets, three in a row makes one overflow
            - }            
                // Add the item           
                .col-sm-6.col-md-4
                    .thumbnail
                        img.img-responsive.img-rounded.custom_thumbnail_image(src=item.imageURL, alt='...')
                        .caption
                            b Item ID: 
                            | #{item.itemID}
                            br
                            b Title: 
                            | #{item.title}
                            br
                            b Author: 
                            | #{item.author}
                            br
                            b Edition: 
                            | #{item.edition}
                            br
                            b Publisher: 
                            | #{item.publisher}
                            br
                            b ISBN: 
                            | #{item.isbn}
                            br
                            b Market Price: 
                            | $#{item.marketPrice}
                            br
                            br
                            b Available at: 
                            | #{item.schoolName}
                            br
                            b Seller: 
                            | #{item.sellerFirstName} #{item.sellerMiddleName} #{item.sellerLastName} 
                            br
                            b Listed price: 
                            | $#{item.listedPrice}
            // Increase count to keep track of number of items in the row    
            - count++;
            //Resetting counter to move to the next row
            - if (count == 3) {
                - count = 0;
            - }
        .row
        hr

        h3 Customers
        p
        table.table.table-striped.table-hover
                tr
                    th Customer ID
                    th Name
                    th Address
                    th Phone
                    th Email
                each person in customers
                    tr
                        td #{person.customerID}
                        td #{person.firstName} #{person.middleName} #{person.lastName}
                        td 
                            | #{person.street}
                            br
                            | #{person.city}, #{person.stateName} #{person.zipCode}
                            br
                            | #{person.country}
                        td #{person.phone}
                        td #{person.email}

        // Website Footer
        footer
            p.pull-right
                a(href='http://www.viveckh.com') Developed by Viveckh
            p
                | © 2016 Booksterdam, Inc. · 
                a(href='#') Privacy 
                | · 
                a(href='#') Terms
// Latest compiled and minified JavaScript
script(src='/bootstrap-3.3.7-dist/js/bootstrap.min.js')

// IE10 viewport hack for Surface/desktop Windows 8 bug
script(src='/javascripts/ie10-viewport-bug-workaround.js')

