//Expects a 'customers' object with the info about customers

h3 Customers
p

table.table.table-striped.table-hover
    tr
        th Customer ID
        th Name
        th Address
        th Phone
        th Email
    each person in customers
        tr
            td #{person.customerID}
            td #{person.firstName} #{person.middleName} #{person.lastName}
            td 
                | #{person.street}
                br
                | #{person.city}, #{person.stateName} #{person.zipCode}
                br
                | #{person.country}
            td #{person.phone}
            td #{person.email}